# Dependencies
node_modules/

# Angular build cache
.angular/

# Build output
dist/

# Environment files
.env
*.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# package-lock (optional, remove this line if you want to keep it)
# package-lock.json
